.contenedor__principal{

    display: grid;
    grid-template-columns: 4fr 4fr  ;
    grid-template-rows:  4fr 4fr;
    grid-template-areas: 
    "tenis futbol"
    "formula moto"
    ;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

    
}
.noticias_padre{
    
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    grid-template-rows:  4fr 4fr 4fr 4fr;
    grid-template-areas: 
    
    ".  futbol2 ."
    ".  tenis2  ."
    ".  formula2    ."
    ".  moto2   ."
;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    

    
}


.futbol__padre{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   border: 5px solid $colorbordes-contendornoticias;
    color: white;
    background-color:black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
    
}
.abuelo_futbol{

    grid-area: futbol;
}

.futbol__padre2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid $colorbordes-contendornoticias;
     color: white;
     background-color:black;
     padding-left: 0.5rem;
     padding-right: 0.5rem;
     padding-top: 0.5rem;
     padding-bottom: 0.5rem;
     grid-area: futbol2;
 }


.titulo__futbol{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    text-align: center;
   
}

.parrafo{

    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.noticia__tenis{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid $colorbordes-contendornoticias ;
    color: white;
    background-color:black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
    
}

.abuelo_tenis{

    grid-area: tenis;
}
.noticia__tenis2{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid $colorbordes-contendornoticias ;
    color: white;
    background-color:black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
    grid-area: tenis2;
   
}



.titulo__tenis{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    text-align: center;
}

.parrafo__tenis{

    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}

.noticia__formula{
 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid $colorbordes-contendornoticias;
    color: white;
    background-color:black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
    
}
.abuelo_formula{

    grid-area: formula;
}
.noticia__formula2{
 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid blue;
    color: white;
    background-color:black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
   grid-area: formula2;
}



.titulo__formula{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
   text-align: center;

}

.parrafo__formula{

    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.noticia__moto{


    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid $colorbordes-contendornoticias;
    color: white;
    background-color:black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    

}

.abuelo_moto{

    grid-area: moto;
}

.noticia__moto2{


    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid blue;
    color: white;
    background-color:black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
    grid-area: moto2;
}


.titulo__moto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    text-align: center;
    
}

.parrafo__moto{

    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}